html,
body,
div {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

input {
  padding: 10px;
  margin: 10px;
  width: 50%;
}

button {
  font-size: 15px;
  color: #fff;
  background-color: #3f3d56;
  width: 100px;
  padding: 10px;
  border: none;
}

a {
  color: #fff;
}

.container {
  text-align: center;
}

.container > img {
  height: 18%;
  width: 18%;
}

.input-container {
  width: 30%;
  padding: 10px;
  margin: 10px auto 0px auto;
  background-color: #6c63ff;
}

.title {
  width: 200px;
  padding: 10px;
  margin: auto;
  border-bottom: 1px solid #3f3d56;
}

.credentials {
  margin: 10px;
}

.submit-button {
  margin-bottom: 10px;
}

.input-switch {
  color: #fff;
  width: 30%;
  padding: 10px;
  margin: 0px auto;
  background-color: #3f3d56;
}

.incorrect {
  background-color: #ff3f1d;
  width: 45%;
  margin: 10px auto;
  font-weight: bold;
}

/* @media only screen and (max-width: 600px) {
  body {
  }
} */
